ENVIRONMENT=development
PORT=5000
LOG_LEVEL=debug
ALLOWED_HOSTS=localhost,otherlocalhost
SENTRY_DSN=http://your_dsn@your_sentry_server/your_project_id
# If you plan to run tests with docker compose, replace `your_sentry_server:9000` or `localhost:9000` with `sentry.local`
# SENTRY_DSN=http://your_dsn@sentry.local:9000/your_project_id